body {
    margin: 0;
    padding: 0;
}

#menu {
    width: 100vw;
    height: 5vh;
    background-color: #333;
}

#main {
    height: 95vh;
    width: 100vw;
    background-color: #1e1e1e;
}

#nav {
    left: -10vw;
    position: absolute;
    background-color: #333;
    height: 95vh;
    width: 10vw;
    transition: 0.4s;
}

#screenMode {
    width: 3vh;
    height: 3vh;
    margin: 1vh;
    border: 0;
    padding: 0;
    float: right;
    background: none;
    outline: none;
    display: flex;
    flex-flow: column;
}

#screenModeImg {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

#viewPcbDbImg {
    width: 3vh;
    height: 3vh;
    object-fit: cover;
}

#showMenu {
    width: 3vh;
    height: 3vh;
    margin: 1vh;
    border: 0;
    padding: 0;
    float: left;
    background: none;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.bar1, .bar2, .bar3 {
    width: inherit;
    height: 0.3vh;
    background-color: #adadad;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-0.55vh, 0.55vh);
    transform: rotate(-45deg) translate(-0.55vh, 0.55vh); /*translate(-9px, 6px);*/
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-0.55vh, -0.55vh);
    transform: rotate(45deg) translate(-0.55vh, -0.55vh);
}

.showNav {
    transform: translateX(10vw);
}